.icon-wrap {
  position: relative;
  width: 100%;
  height: 90px;
}

.icon-wrap img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.flex-col {
  flex-direction: column;
}

.flex-col .flex-col {
  flex: 1;
}

.flex-col .btn-block {
  max-width: 290px;
  margin: 0 auto;
}

.table-header-right th {
  text-align: right;
}

.table-header-right th,
.table-header-right td {
  vertical-align: top !important;
  line-height: 1.4 !important;
}

.cert-label-header {
  width: 309px;
  height: 92px;
  margin: 0 auto;
  background-size: 309px 92px;
  background-repeat: no-repeat;
  background-position: center;

  border: solid 8px #000;
  border-radius: 1rem;

}

.cert-label-header h1 {
  margin: 17px 0 0 0;
  font-size: 14px;
}

.cert-label-header span {
  display: inline-block;
  margin-top: 0;
  font-size: 26px;
}

@media (min-width: 768px) {
  .cert-label-header {
    width: 687px;
    height: 205px;
    background-size: 687px 205px;
    border: solid 16px #000;
  }

  .cert-label-header h1 {
    margin: 43px 0 8px 0;
    font-size: 18px;
  }

  .cert-label-header span {
    margin-top: 5px;
    font-size: 46px;
  }
}

#psaCertImages {
  position: relative;
}
