/*  Font  */
@font-face {
    font-family: 'Area Normal';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url('./content/fonts/Area-Black.woff2') format('woff2'), url('./content/fonts/Area-Black.woff') format('woff');
}

@font-face {
    font-family: 'Area Normal';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('./content/fonts/Area-Extrabold.woff2') format('woff2'), url('./content/fonts/Area-Extrabold.woff') format('woff');
}

@font-face {
    font-family: 'Area Normal';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('./content/fonts/Area-Bold.woff2') format('woff2'), url('./content/fonts/Area-Bold.woff') format('woff');
}

/*  Media  */
@media (max-width: 1280px) {
    #cx-web-header {
        padding-right: 8px !important;
    }

    .action-header-lg {
        display: none;
    }

    .desktop-wrapper {
        padding: 0px 32px 0px 100px !important;
    }
}

@media (min-width: 1280px) {
    .desktop-nav {
        display: flex !important;
    }

    .action-header-mobile {
        display: none !important;
    }

    #mobile-top-nav {
        display: none !important;
    }
}

@media (min-width: 768px) {
    #cx-web-header {
        padding: 0px 80px;
    }
}

@media (max-width: 768px) {
    #cx-web-header {
        padding-right: 24px !important;
        padding-left: 18px !important;
    }

    .desktop-wrapper {
        padding: 0px !important;
    }

    .mobile-nav-container {
        padding: 16px 32px 16px 32px !important;
    }

    .footer-padding {
        max-width: none !important;
        padding: 0px 80px !important;
    }
}

/*  General Style  */
.body1-strong {
    font-family: "Area Normal", "Trebuchet MS", Helvetica, Arial, sans-serif !important;
    font-weight: 500 !important;
    font-size: 15px !important;
    line-height: 24px !important;
    letter-spacing: .01em !important;
}

.body1 {
    font-family: "Area Normal", "Trebuchet MS", Helvetica, Arial, sans-serif !important;
    font-weight: 400 !important;
    font-size: 15px !important;
    line-height: 24px !important;
    letter-spacing: .01em !important;
}

.body2-strong {
    font-family: "Area Normal", "Trebuchet MS", Helvetica, Arial, sans-serif !important;
    font-weight: 500 !important;
    font-size: 13px !important;
    line-height: 20px !important;
    letter-spacing: .01em !important;
}

.body2 {
    font-family: "Area Normal", "Trebuchet MS", Helvetica, Arial, sans-serif !important;
    font-weight: 400 !important;
    font-size: 13px !important;
    line-height: 20px !important;
    letter-spacing: .01em !important;
}

.subtitle1 {
    font-family: "Area Normal", "Trebuchet MS", Helvetica, Arial, sans-serif !important;
    font-weight: 500 !important;
    font-size: 19px !important;
    line-height: 28px !important;
    letter-spacing: .01em !important;
}

.neutral1 {
    color: #212121 !important;
}

.neutral2 {
    color: #48494A !important;
}

.neutral3 {
    color: #6C6E6F !important;
}

.three-col {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    text-align: left !important;
}

a:hover, a:focus {
    color: #212121 !important;
    text-decoration: none !important;
}

li:hover {
    background-color: #FAFAFA !important;
    border-radius: 8px !important;
}

.space-between {
    justify-content: space-between !important;
}

.gap-sm {
    gap: 16px;
}

.align-center {
    align-items: center;
}

.menu-section-title {
    font-family: "Area Normal", "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.22px;
    display: flex;
    justify-content: flex-start;
    padding: 8px 16px;
}

.cx-flex-col {
    display: flex;
    min-width: 276px;
    flex-direction: column;
}

.cx-flex-col li {
    list-style-type: none;
}

.cx-flex-col a {
    position: relative;
    justify-content: center;
    background-color: transparent;
    white-space: nowrap;
    color: #48494A;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 10px 16px;
    border-radius: 8px;
}

.cx-flex-col a:hover {
    background-color: #FAFAFA;
}

.cx-flex-col a:focus-visible {
    background-color: #FAFAFA;
}

.hide {
    display: none;
}

.bottom-border {
    border-bottom: 1px solid #EAEAEA !important;
    padding-bottom: 12px !important;
}

/*  Buttons/Tabs/Icons  */
.nav-tab {
    font-family: "Area Normal", "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: .01em;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 40px;
    background-color: transparent;
    white-space: nowrap;
    color: #6C6E6F;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
}

.dismiss-btn {
    border: 1px solid #EAEAEA;
    border-radius: 12px;
    color: #48494A;
    background-color: #FFFFFF;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 16px;
    margin-left: 20px;
    margin-right: 4px;
    border-radius: 16px;
    white-space: nowrap;
    background-color: #999;
    color: white;
    border: 0px;
}

#submit-button:hover {
    background-color: #044CC4;
    color: white !important;
}

#submit-button:focus-visible {
    background-color: #065FF5;
    color: white !important;
    outline-offset: 2px;
    outline: 2px solid #065FF5;
}

.subscribe-button {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 10px 16px !important;
    border-radius: 16px !important;
    white-space: nowrap !important;
    background-color: #065FF5 !important;
    color: white !important;
    border: 0px !important;
}

.subscribe-button:hover {
    background-color: #044CC4 !important;
    color: white !important;
}

.subscribe-button:focus-visible {
    background-color: #065FF5 !important;
    color: white !important;
    outline-offset: 2px !important;
    outline: 2px solid #065FF5 !important;
}

#submit-li:hover {
    background-color: white !important;
}

.cx-brand-icon {
    display: flex;
    flex-shrink: 0;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-start;
}

.tab-icon span {
    align-items: center;
}

.active-bar {
    position: absolute;
    bottom: -16px;
    pointer-events: none;
    display: block;
    height: 4px;
    width: 66px;
    background-color: #065FF5;
    border-radius: 4px;
    text-align: center;
    z-index: -1;
}

.action-active-bar {
    position: absolute;
    bottom: 0;
    pointer-events: none;
    display: block;
    height: 4px;
    width: 40px;
    background-color: #065FF5;
    border-radius: 4px;
    z-index: -1;
    margin-left: 2px;
}

#search-btn {
    padding: 16px 8px 4px 8px;
}

#search-btn:hover {
    border-radius: 9999px !important;
}

#search-btn:focus-visible {
    border-radius: 9999px !important;
}

#search-btn:focus-visible {
    outline: 2px solid #065FF5;
}

#account-button {
    padding: 12px 8px 4px 10px;
    background-color: transparent !important;
    border: none !important;
}

#account-button:hover {
    border-radius: 9999px !important;
}

#account-button:focus-visible {
    border-radius: 9999px !important;
    outline: 2px solid #065FF5;
}

/*  Account Dropdown  */
#account-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 275px;
    height: 100%;
    width: 100%;
}

#account-dropdown > div {
    background-color: #FFFFFF;
    border: 1px solid #EAEAEA;
    position: sticky;
    display: flex;
    width: max-content;
    max-width: 900px;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 8px;
    border-radius: 12px;
    padding: 28px 16px;
    min-width: 276px;
    --tw-shadow: 0px 12px 16px 0px rgba(0,0,0,0.08);
    --tw-shadow-colored: 0px 12px 16px 0px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.hover-account-dropdown:hover #account-dropdown {
    display: block;
}

/*  Main Navigation  */
#cx-web-header {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    height: 72px;
    --tw-shadow: 0px 1px 4px 0px rgba(0,0,0,0.08);
    --tw-shadow-colored: 0px 1px 4px 0px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    z-index: 10;
    top: 0px;
    position: sticky;
    padding: 0px 16px;
    display: flex;
    justify-content: space-between;
}

.desktop-wrapper {
    height: 100%;
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    padding: 0px 32px 0px 32px;
    margin-left: auto;
    margin-right: auto;
}

#desktop-nav {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    padding: 2px 0px;
}

#desktop-nav > div:first-child {
    display: flex;
    align-items: center;
    gap: 8px;
}

#desktop-nav > div:last-child {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
}

.desktop-nav {
    display: none;
    align-items: stretch;
    gap: 8px;
    margin: 4px 0px 0px 0px !important;
}

.desktop-nav > li {
    list-style-type: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.desktop-nav a:focus-visible {
    outline: 2px solid #065FF5;
}

.desktop-nav a:hover {
    background-color: #FAFAFA;
    color: #212121;
    text-decoration: none;
}

#mobile-nav-dropdown {
    border: 1px solid #EAEAEA;
    border-radius: 12px;
    color: #48494A;
    background-color: #FFFFFF;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-nav-container {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: fixed;
    width: 100%;
    background-color: #FFFFFF;
    padding: 16px 48px 16px 80px;
}

#mobile-top-nav {
    display: none;
}

.mobile-nav-menu ul {
    list-style: none !important;
    padding: 0px !important;
}

.mobile-nav-menu li {
    padding: 10px 0px;
}

.mobile-nav-menu a, .mobile-nav-menu button {
    font-family: "Area Normal", "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: .01em;
    position: relative;
    background-color: transparent;
    white-space: nowrap;
    color: #6C6E6F;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: 8px;
    border: none !important;
    padding: 0px !important;
}

.mobile-nav-header {
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid #EAEAEA;
}

/*  Header Actions  */
.app-header-actions {
    display: flex;
    height: 100%;
    align-items: center;
    gap: 16px;
    list-style-type: none;
    margin: 0px !important;
}

.app-header-actions li {
    margin: 0px !important;
}

.action-header-mobile {
    display: flex;
}

.mobile-nav-action {
    justify-content: space-between;
    padding-bottom: 16px;
}

/*  Services Menu  */
#service-menu {
    display: none;
    position: absolute;
    top: 100%;
    height: 100%;
    width: 100%;
}

#service-menu > div {
    background-color: #FFFFFF;
    border: 1px solid #EAEAEA;
    position: sticky;
    display: flex;
    width: max-content;
    max-width: 900px;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 8px;
    border-radius: 12px;
    padding: 28px 16px;
    min-width: 276px;
    --tw-shadow: 0px 12px 16px 0px rgba(0,0,0,0.08);
    --tw-shadow-colored: 0px 12px 16px 0px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.dropdown-tab:hover #service-menu {
    display: block;
}

#mobile-services-menu {
    overflow: auto;
    display: none;
}

#mobile-services-menu li, #mobile-services-menu a {
    padding-left: 0px;
    justify-content: left;
}

#mobile-services-menu ul {
    padding-left: 0px;
}

.resource-service a {
    justify-content: left;
    padding-left: 16px;
    font-family: "Area Normal", "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: .01em;
}

.resource-service a:hover {
    text-decoration: none;
}

.resource-service {
    padding-left: 0px;
}

.resource-service li {
    margin: 0px;
}

/*  More Menu  */
#more-menu {
    display: none;
    position: absolute;
    top: 100%;
    height: 100%;
    width: 100%;
}

#more-menu > div {
    background-color: #FFFFFF;
    border: 1px solid #EAEAEA;
    position: sticky;
    display: flex;
    width: max-content;
    max-width: 900px;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 8px;
    border-radius: 12px;
    padding: 28px 16px;
    min-width: 276px;
    --tw-shadow: 0px 12px 16px 0px rgba(0,0,0,0.08);
    --tw-shadow-colored: 0px 12px 16px 0px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.dropdown-tab:hover #more-menu {
    display: block;
}

#mobile-more-menu {
    overflow: auto;
    display: none;
}

#mobile-more-menu li, #mobile-more-menu a {
    padding-left: 0px;
    justify-content: left;
}

#mobile-more-menu ul {
    padding-left: 0px;
}

/*  Info Center  */
#info-center {
    display: none;
    position: absolute;
    top: 100%;
    height: 100%;
    width: 100%;
}

#info-center > div {
    background-color: #FFFFFF;
    border: 1px solid #EAEAEA;
    position: sticky;
    display: flex;
    width: max-content;
    max-width: 900px;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 8px;
    border-radius: 12px;
    padding: 28px 16px;
    min-width: 276px;
    --tw-shadow: 0px 12px 16px 0px rgba(0,0,0,0.08);
    --tw-shadow-colored: 0px 12px 16px 0px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.dropdown-tab:hover #info-center {
    display: block;
}

#mobile-info-center-menu {
    overflow: auto;
    display: none;
}

#mobile-info-center-menu li, #mobile-info-center-menu a {
    padding-left: 0px;
    justify-content: left;
}

#mobile-info-center-menu ul {
    padding-left: 0px;
}

/* Misc  */
.osano-cm-widget {
    display: none;
}

.font-area-normal {
    font-family: "Area Normal", "Trebuchet MS", Helvetica, Arial, sans-serif;
}

.subscribe-banner {
    background-color: #FAFAFA;
}

.footer-col {
    min-width: fit-content;
}

#subscribe-container {
    padding: 32px 80px;
    display: flex;
    justify-content: space-between;
    margin: 0px !important;
}

#footer-form {
    float: right;
    min-width: 432px;
}

.form-headers {
    width: 100%;
}

#email-input {
    max-width: 308px;
    border-radius: 8px;
    border: 1px solid #DADADA;
    background-color: #FFFFFF;
    color: #212121;
}

#email-input::placeholder {
    color: #6C6E6F;
    opacity: 1;
    font-family: "Area Normal", "Trebuchet MS", Helvetica, Arial, sans-serif !important;
    font-weight: 400 !important;
    font-size: 13px !important;
    line-height: 20px !important;
    letter-spacing: .01em !important;
}

.footer-padding {
    padding: 0px 80px !important;
    max-width: none !important;
}

.bottom-legal {
    background-color: #FAFAFA;
    max-width: none !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
    height: 108px;
    padding: 30px 80px 0px 80px !important;
}

.bottom-space {
    display: flex;
    align-items: center !important;
    justify-content: space-between;
}

.collectors-logo {
    opacity: 1 !important;
    color: #6C6E6F;
    height: 12px;
    width: auto;
    display: inline-block;
    vertical-align: baseline;
    padding-right: 40px;
}

.hover-radius:hover {
    border-radius: 99999px !important;
}

.pos-rel {
    position: relative;
}

@media (max-width: 375px) {
    #subscribe-container {
        padding: 32px 16px;
        margin: 0px !important;
    }

    .footer-padding {
        padding: 0px 16px !important;
    }

    .bottom-legal {
        padding: 30px 16px 0px 16px !important;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .footer-padding {
        max-width: 608px !important;
        padding: 0px !important;
    }
}

@media (max-width: 1024px) {
    .xs-left {
        text-align: start !important;
    }

    #subscribe-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0px !important;
    }

    .subscribe-input {
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        max-width: 608px !important;
    }

    #footer-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 0px;
        width: 100%;
    }

    .form-headers p {
        text-align: center;
    }

    .subscribe-button {
        width: 100% !important;
    }

    #email-input {
        max-width: 608px;
        width: 100%;
    }

    .input-button-container {
        width: 100% !important;
    }

    .input-field-container {
        padding-right: 0px !important;
        margin-bottom: 12px;
    }

    .bottom-space {
        align-items: start !important;
        flex-direction: column-reverse;
    }

    .bottom-legal {
        height: 168px;
    }

    .logo-legal {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 10px;
    }

    .collectors-logo {
        margin-bottom: 15px;
    }
}

#mainFooter a {
    font-family: "Area Normal", "Trebuchet MS", Helvetica, Arial, sans-serif !important;
    font-weight: 400 !important;
    font-size: 13px !important;
    line-height: 20px !important;
    letter-spacing: .01em !important;
    color: #48494A !important;
}

#mainFooter a:hover {
    background-color: #FAFAFA !important;
    color: #212121 !important;
    text-decoration: none;
}

#mainFooter li {
    margin-bottom: 12px !important;
}
